.config {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.config__title {
  margin: 0 0 15px;
  text-align: center;
}

.config__button {
  margin-left: auto;
}

.config__button button:not(:last-child) {
  margin-right: 20px;
}
