.config {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.config__textarea {
  flex-grow: 1;
  margin-bottom: 20px;
  resize: none;
}

.config__button {
  margin-left: auto;
}

.config__button button:not(:last-child) {
  margin-right: 20px;
}
