.custom-input {
  display: flex;
  align-items: center;
}

.custom-input input[type="text"],
.custom-input input[type="password"] {
  width: 350px;
}

.custom-input input[type="number"] {
  width: 90px;
}

.custom-input input[type="date"] {
  width: 160px;
}
