.tabs {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dee2e6;
  position: relative;
}

.tabs__button {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer;
  background-color: #fff;
  transition: border 0.2s ease-in-out 0s;
}

.tabs__button-active {
  color: var(--color-blue);
  border-width: 1px;
  border-color: #e9ecef #e9ecef #5468ff;
}

.tab__content {
  overflow-y: auto;
  height: calc(100vh - 78px);
  padding: 25px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 2px rgb(204 204 204 / 75%);
}
