:root {
  --color-blue: #1890ff;
  --color-blue-hover: #40a9ff;
  --color-white: #ffffff;
  --color-white-secondary: #f7f7f7;
  --color-gray: #e9ecef;
  --color-red: #eb4d5c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.input {
  box-sizing: border-box;
  padding: 4px 11px;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid var(--color-gray);
  border-radius: 2px;
}

.label {
  box-sizing: border-box;
  flex-basis: 15%;
  padding-right: 15px;
}
